@import url("./normalize.css");


*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0:
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  color : inherit;
  text-decoration: none;
}

/* 숨김 콘첸츠 */
.readable-hidden{
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow : hidden;
}

body {
  background-color: #fff;
  font-size : 16px;
  color: #181818;
}

h2 {
  font-size: 1em;
  font-weight: normal;

}


/* 레이아웃 */

.wrapper{
  background-color: yellow;
  border-top: 1px solid transparent;
  /* 현업에선 이런 문제 때문에 투명 보더를 1px로 추가시킴
    border-top : 1px solid transparent */
}

.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}

.header{
  background-color:#fff;
  padding: 0 30px;
  position: relative;
  
}

/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 65px; 
}

.member {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  position: relative;
  right: -10px;

}

.member li{
  float: left;
  text-transform: uppercase;
}

.member a{
  padding: 5px 10px;

}

.member li:nth-child(n+2)::before{
  content: ":";
  
}

.visual{
  background-color: lime;
  height: 10vh;
}
.main{
  background-color: skyblue;
  display: flex;
  padding: 30px 0;
  justify-content: space-evenly;
  /* flex-direction: row; */
  /* flex-wrap: wrap; 줄바꿈을 허용*/
  /* flex-flow: row wrap; */
      /* flex-direction + wrap을 함께 쓰는 단축표기 */ 
  /* justify-content: flex-end; */
    /* 메인축정렬 */
  /* align-items: flex-end;  */
    /* 교차축정렬 */
  /* 이 flex방식은 ie 8버젼 작동안함
    grid모듈이 더 최신기법이지만 이건 ie16(edge)버젼부터 가능 */

}

.group{
  height: 20vh;
}
/* 노멀플로우 -> flaot 이용해서 띄우면 라인박스가 부모영역에 맞춰 맞춰짐 */
.group1{
  background-color: rgba(255, 255, 255, 0.5);
  /* position: relative; */
  /* left:-20px; 플로트 레이아웃 테스트 코드 */
  width: 250px;
  /* width: 450px; */
}
.group2{
  background-color: hsla(120, 70%, 60%, 0.5);
  width: 380px;
}
/* 이미 그룹1이 float 되어 있으면 라인박스는 그 공간만큼을 뺀 가용가능한 사이즈로 맞춰짐 */
.group3{
  background-color: tomato;
  width: 190px;
}
.slogan{
  background-color: blueviolet;
  height: 10vh;

}
.footer-bg{
  background-color: orange;
}
.footer{
  background-color: silver;
  height: 10vh;
  
}